.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    width: 400px;
    margin: 15px;
    margin-right: 80px !important;
    
    background-color: var(--bs-list-group-bg);
    border: solid 2px #00ff00;
    border-top: solid 2px #00ff00;
}

.list-item {
    border-top: 2px solid #00ff00; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
  }
  

