.custom-card-style {
    /* Puedes ajustar este valor según tus necesidades */
    width: 17rem;
    height: 24rem;
    margin: 0.7%;
    margin-bottom: 30px;
    border: 2px solid #00ff00;
    border-radius: 25px;
    object-fit: cover;
}


/* styles.css (o el nombre que hayas dado a tu archivo de estilos) */
.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Otra opción puede ser 'space-around' o 'space-evenly' */
}

.Buttonn{
    background: #00ff00 !important;
    border-color: #00ff00 !important;
    transition: #ffff !important;
    margin-bottom: 15px !important;
    --bs-btn-active-bg: #fffff !important;
    --bs-btn-active-border-color: #00ff00 !important;
    --bs-btn-disabled-border-color: #00ff00 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    
}

.active>.page-link {
    z-index: 3;
    color: #ffff;
    background-color: #00ff00;
    border-color: #00ff00;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #00ff00;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

img {
    height: 155px !important;
    width: 238px !important;
    margin-top: -5px !important;
    margin-bottom: 5px !important
}
.ImgP {
    height: 300px !important;
    width: 500px !important;
    
}

.ImgD {
    height: 30px !important;
    width: 30px !important;
}